# Made by Unity on every open and build.
/Library/
/Temp/
/Logs/
/obj/
/Build/
/build/
/UserSettings/
/MemoryCaptures/
*.csproj
*.sln
/Packages/packages-lock.json
/Assets/Scenes/
/Assets/Scenes.meta
/Assets/TextMesh Pro/
/Assets/TextMesh Pro.meta
